@model BasketViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sepet</h5>

                @if (Model != null && Model.BasketItems.Any())
                {
                    <table class="table table-striped">
                        <tr>
                            <th>Kurs İsim</th>
                            <th>Kurs Fiyat</th>
                            <th>İşlemler</th>
                        </tr>
                        @foreach (var item in Model.BasketItems)
                        {
                            <tr>
                                <td>@item.CourseName</td>
                                <td>@item.GetCurrentPrice TL @(Model.HasDiscount ? $"(%{Model.DiscountRate.Value}uygulandı)":" ")</td>
                                <td>
                                    <a class="btn btn-danger" asp-controller="Basket" asp-action="RemoveBasketItem" asp-route-courseId="@item.CourseId">Sil</a>
                                </td>
                            </tr>
                        }
                        @if (Model.HasDiscount)
                        {
                            <tr>
                                <td>İndirim Oranı</td>
                                <th colspan="2">%@Model.DiscountRate.Value</th>
                            </tr>
                        }


                        <tr>
                            <td>@(Model.HasDiscount ? "İndirimli Fiyat" : "Toplam Fiyat")</td>
                            <th colspan="2">@Model.TotalPrice TL</th>
                        </tr>
                    </table>

                    <form asp-controller="Basket" asp-action="ApplyDiscount">

                        @if (Model.HasDiscount)
                        {
                            <div class="alet alert-success">
                                "@Model.DiscountCode" indirim kodu uygulandı
                                <a asp-controller="Basket" asp-action="CancelApplyDiscount">(iptal et)</a>
                            </div>
                        }

                        <div class="input-group mb-3">
                            <input type="text" name="DiscountApplyInput.Code" class="form-control" />
                            <button type="submit" class="btn btn-outline-secondary">Uygula</button>
                        </div>

                        @if (TempData["discountError"] != null)
                        {
                            <div class="text-danger">@TempData["discountError"]</div>
                        }


                        @if (TempData["discountStatus"] != null && (bool)TempData["discountStatus"] == false)

                        {
                            <div class="text-danger">İndirim kodu geçersiz</div>
                        }

                    </form>
                    <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Ödeme Bilgileri</a>
                    <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Kursları incelemeye devam et</a>
                }
                else
                {
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Sepetinizde Kurs Bulunmamaktadır!</strong> İşlem öncesi lüften sepetinize kurs ekleyiniz.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

            </div>

        </div>

    </div>

</div>

